.transactions{
    max-width: 1000px;
    margin: 0 auto;
}
.transaction{
    margin-bottom: 1em;
}
.transaction-body{
    display: flex;
    justify-content: space-between;
}
.transaction-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}